nav.nav
  .nav-responsive-header
    a(href="#")
      img.nav-responsive-logo(src=images+"logo.jpg")
    button.navbar-toggler(type='button', onclick='menu_toggle()')
      i.fas.fa-times(style="font-size:30px;")
  ul#nav-list
